.project-detail-card:hover {
    position: relative !important;
    animation-name: example !important;
    animation-duration: 1s !important;
    animation-delay: .5s !important;
    font-size: 1.1em !important;
    animation-fill-mode: forwards;
}
@keyframes example {
    0%   {left:0px; top:-10px;}
    100% {left:0px; top:-20px;}
}
